In [2]:
from fuzzywuzzy import process
# importing libraries
import numpy as np
import pandas as pd 
import re
import csv

In [5]:
amazon_data = pd.read_csv('AmazonProductdata.csv')
amazon_data.head(3)

,Id,Name,Synonyms,SalesPrice,OriginalPrice,Availability,Ratings,ProductLink,ImageLink
0,Amazon_1,"Tecno Spark 7 (Magnet Black, 3GB RAM, 64 GB St...","['Tecno Spark 7 ', 'Tecno Spark 7 Magnet Black...",8499,9999,Available,3.9,https://www.amazon.co.in/gp/slredirect/picasso...,https://m.media-amazon.com/images/I/712hJ5hz7N...
1,Amazon_2,"Lava Z2 (2GB RAM, 32GB Storage)- Aqua Blue, Re...","['Lava Z2 ', 'Lava Z2 2GB RAM', 'Lava Z2 32GB...",7399,7999,Available,4.1,https://www.amazon.co.in/gp/slredirect/picasso...,https://m.media-amazon.com/images/I/71y28elHfB...
2,Amazon_3,"Redmi 9A (Nature Green, 2GB RAM, 32GB Storage)...","['Redmi 9A ', 'Redmi 9A Nature Green', 'Redmi ...",6799,8499,Available,4.2,https://www.amazon.co.in/Redmi-9A-2GB-32GB-Sto...,https://m.media-amazon.com/images/I/71sxlhYhKW...

In [186]:
dataset = pd.read_csv('SnapDealProducts.csv')

,Name,SalesPrice,OriginalPrice,Rating,ProductLink,ImageLink
0,"Redmi 9 ( 64GB , 4 GB ) Black",9499,10999.0,3.6,https://www.snapdeal.com/product/redmi-9-64gb-...,https://n2.sdlcdn.com/imgs/j/r/t/Redmi-9-64GB-...
1,"Xolo Era 2 ( 8GB , 1 GB ) Black",4463,NaN,3.8,https://www.snapdeal.com/product/xolo-era-2-8g...,https://n3.sdlcdn.com/imgs/h/h/d/1-31100.jpg

In [187]:
dataset = pd.read_csv('SnapDealProducts.csv')

first_synonym = []
second_synonym = []
third_synonym = []

# iterate product name
for mystring in dataset['Name']:

    first_partitioned_string = mystring.rpartition('(')
    first_name = first_partitioned_string[0]
    first_synonym.append(first_name.strip())

    second_partitioned_string = mystring.rpartition(') ')
    second_name = second_partitioned_string[0]
    second_synonym.append(second_name.strip()+')')

    third_name = re.sub("[(].*[) ]", "", mystring)
    third_synonym.append(third_name.strip())
    
first_synonym = list(dict.fromkeys(first_synonym))
second_synonym = list(dict.fromkeys(second_synonym))
third_synonym = list(dict.fromkeys(third_synonym))
synonyms = first_synonym+second_synonym+third_synonym

In [16]:
snapdeal= pd.read_csv('SnapdealDataset.csv')

snapdeal.rename(columns={'Name': 'Snapdeal_Name',
                         'Synonyms': 'Snapdeal_Synonyms',
                         'SalesPrice': 'Snapdeal_SalesPrice',
                         'OriginalPrice': 'Snapdeal_OriginalPrice',
                         'Rating': 'Snapdeal_Rating',
                         'ProductLink': 'Snapdeal_ProductLink',
                         'ImageLink': 'Snapdeal_ImageLink'}, inplace=True)

In [17]:
flipkart = pd.read_csv('FlipkartDataset.csv')

flipkart.rename(columns={'Name': 'Flipkart_Name',
                         'Synonyms': 'Flipkart_Synonyms',
                         'SalesPrice': 'Flipkart_SalesPrice',
                         'OriginalPrice': 'Flipkart_OriginalPrice',
                         'Rating': 'Flipkart_Rating',
                         'ProductLink': 'Flipkart_ProductLink',
                         'ImageLink': 'Flipkart_ImageLink'}, inplace=True)

In [32]:
amazon_name_lst = amazon_data['Name'].to_list()

In [18]:
mobile = flipkart['Flipkart_Name']

In [30]:
name_lst = []
for name in amazon_name_lst:
    results = process.extractOne(name, mobile)
    if results[1] >= 90 :
        name_lst.append('1')
    else :
        print('NAN')

NAN

In [45]:
name = 'Redmi 9A '
mobile = flipkart['Flipkart_Name']
def get_matches(query, choices, limit=5):
    results = process.extract(query, choices, limit=limit)
    return results


matches = get_matches(name,mobile)
matches

[('Redmi 9A (Midnight Black, 32 GB)', 90, 286),
 ('Redmi 9A (Nature Green, 32 GB)', 90, 568),
 ('Redmi 9A (SeaBlue, 32 GB)', 90, 769),
 ('REDMI 9i (Midnight Black, 64 GB)', 86, 0),
 ('REDMI Note 9 (Arctic White, 64 GB)', 86, 41)]

In [28]:
results[1]

('Infinix Hot 10 (Ocean Wave, 64 GB)', 86, 1)

In [ ]:
flipkart.merge(snapdeal,on='Synonyms',how='left')

In [276]:
mobile = flipkart['Flipkart_Name']

In [172]:
lst  =  flipkart['Flipkart_Synonyms_two'][0]

In [277]:
def get_matches(query, choices, limit=5):
    results = process.extract(query, choices, limit=limit)
    return results


matches = get_matches('Redmi 9i Sea blue',mobile)
matches

[('REDMI 9i (Sea Blue, 64 GB)', 95.0, 56),
 ('REDMI 9i (Midnight Black, 64 GB)', 85.5, 0),
 ('realme C20 (Cool Blue, 32 GB)', 85.5, 8),
 ('realme C21 (Cross Blue, 64 GB)', 85.5, 10),
 ('Infinix Smart 5 (Aegean Blue, 32 GB)', 85.5, 16)]